@tailwind base;
@tailwind components;
@tailwind utilities;


/* index.css */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button, textarea {
  all: unset;
  /* or use other properties like: 
     - appearance: none; 
     - border: none; 
     - outline: none; 
     - background: transparent;
  */
}

